html, body{
    overflow-x: hidden;
    overflow-y: auto;
}

#galleryMain {
    height: 100vh;
}
/***********************************************/
/******************** HEADER *******************/
/***********************************************/
#galleryMain .header {
    height: 15%;
    background-color: #68040d;
}

/*********************************************/
/****************** GALLERY ******************/
/*********************************************/

#galleryMain .body {
    height: 90%;
}
#galleryMain .imgsGallery { height: 70%;}
#galleryMain .title { height: 20%;}
#galleryMain .body .img-container {
    position: absolute;

    left: 0;
    right: 0;
    margin: auto;

    height: 100%;
}
#galleryMain .body .img-container img{
    height: 100%;
    cursor: pointer;
}
.galButton {
    z-index: 2;
    cursor: pointer;
}

/*********************************************/
/****************** SESSION ******************/
/*********************************************/
#gallerySession {
    height: 100vh;
    background-color: #68040d;
}